<form action="/addtask" method="GET">
<input type="text" name="task">

<input type="submit" value="addtask">
</form>

<br><br>
<form action="/display" method="GET">
<input type="submit" value="displayalltasks">
</form>





