<h1>SIGNUP<h1>
<form action="/signup" method="GET">
Name : <input type="text" name="name">
E-mail : <input type="text" name="email">
Password: <input type="Password" name="password">
<input type="submit" value="CREATE USER">
</form>


<br><br><br><br>

Existing user?<a href="/login">LOGIN</a>

<br>GO BACK? <a href="/display">Display tasks </a>
